@page
@model razor_page_app.Pages_MagicItems.IndexModel

@{
    ViewData["Title"] = "Magic Item Library";
}

<h1>Magic Item Library</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MagicItem[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MagicItem[0].Rarity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MagicItem[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MagicItem[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MagicItem[0].Cost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MagicItem) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rarity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
